@import "tailwindcss";
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated-gradient {
  background: linear-gradient(-45deg, #260F59, #4B0082, #8A2BE2, #6A5ACD);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}

